//======================================================//
//===================== Variables ======================//
//======================================================//

//FontWeight
$FW100: 100;
$FW400: 400;
$FW500: 500;
$FW600: 600;

//======================================================//
//===================== Font Family ====================//
//======================================================//
$Medium: "HelveticaMedium";
$Roman: "HelveticaRoman";
$Light: "HelveticaLight";
$Thin: "HelveticaThin";
